.chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.chat_header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border-right: 1px solid lightgray;
}

.chatHeader_info {
  margin-left: 10px;
  flex: 1;
}

.chatHeader_info > .ticker {
  height: fit-content;
  font-size: 12px;
  color: gray;
  width: 40%;
}

.chatHeader_info > h2 {
  font-size: 15px;
  margin-bottom: 5px;
}

.chatHeader_info > p {
  font-size: 12px;
  margin-bottom: 5px;
}

.chat_body {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-image: url("https://i.pinimg.com/originals/ab/ab/60/abab60f06ab52fa7846593e6ae0c9a0b.png");
  background-repeat: repeat;
  background-position: center;
  padding: 20px;
  overflow: auto;
}

.chat_body_chat {
  display: flex;
  flex-direction: column;
  /* max-width: 70%; */
  margin-bottom: 5px;
}

.chat_message {
  position: relative;
  font-size: 15px;
  padding: 5px;
  width: fit-content;
  max-width: 70%;
  border-radius: 10px;
  background-color: #ffffff;
}

.chat_timestamp {
  margin-left: 10px;
  font-size: 7px;
}

.chat_name {
  font-size: 10px;
  font-weight: 800;
  width: fit-content;
  padding: 5px;
}

.chat_receiver_name {
  margin-left: auto;
}

.chat_sender_name {
  margin-right: auto;
}

.chat_receiver {
  background-color: #dcf8c6;
  margin-left: auto;
}

.chat_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  height: 60px;
}

.chat_footer > form {
  display: flex;
  flex: 1;
}

.chat_footer > form > input {
  outline-width: 0;
  flex: 1;
  border-radius: 20px;
  border: none;
  padding: 10px;
}

.chat_footer > form > button {
  display: none;
}
